<h1>Welcome to NBA Fantasy App! </h1>
  <h2> Login </h2>
    <% if @notice %>
      <p><%= @notice %></p>
    <% end %>

    <%= form_tag "login", method: "POST" do %>
      <div>Username:
        <%= text_field_tag :username %>
      <div>Password:
        <%= password_field_tag :password %>
      </div>
      <%= submit_tag "Log in" %>
        <% end %>
  <br>
  <h4> New User? Create your account here</h4>
  <%= button_to "Click Here"%>
