<h1>Welcome to NBA Fantasy App! </h1>
  <h2> Login </h2>

    <%= form_tag "/login" do%>
    <label> Username: </label>
    <%= text_field_tag :username %>
    <label> Password: </label>
    <%= password_field_tag :password%>

    <%= submit_tag "Log in" %>

    <% end %>
  <br>
  <h4> New User? Create your account here</h4>
  <button><%= link_to "Click Here", "/account"%></button>
