<h1>Welcome to NBA Fantasy App! </h1>
  <h2> Login </h2>
    <% if @notice %>
      <p><%= @notice %></p>
    <% end %>

    <%= form_for @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :password %>
    <%= f.password_field :password%>

    <%= f.submit %>

    <% end %>
  <br>
  <h4> New User? Create your account here</h4>
  <button><%= link_to "Click Here", "/account"%></button>
