

<div class="ui form">
<div class="third-heading"><h1> Create Your Account</h1></div>

<% if @user.errors.full_messages.any?%>
<% @user.errors.full_messages.each do |msg|%>
<div class="errors"><li><%= msg %> </li></div>
<%end%>
<%end%>

<div class="labels">
<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
<br>
  <%= f.label :username %>
  <%= f.text_field :username %>
<br>
  <%= f.label :email %>
  <%= f.text_field :email %>
<br>
  <%= f.label :password %>
  <%= f.password_field :password %>
<br>
  <%= f.label :password_confirmation%>
  <%= f.password_field :password_confirmation %>

<br>
  <%= f.submit %>

  <% end %>
  </div>
</div>
