<div class="ui form">
  <div class="labels">
<h1> <%= @player.name %> </h1>

  <p>Jersey Number: <%= @player.jersey_number %> </p>
  <p>Current Team: <%= @player.current_team %></p>
  <p>Position: <%= @player.position %> </p>
  <p>Average Points per Game: <%= @player.points %> </p>
  <p>Average Assits per Game: <%= @player.assists %> </p>
  <p>Average Rebounds per Game: <%= @player.rebounds %> </p>
  <p>Field Goal Percetage: <%= @player.FGP %> </p>


<button><%=link_to "All Players", players_path %></button>
</div>
</div>
